
@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 160px 180px 160px;
    background-color: #E1EBFD;
    height: 728px;
    font-size: 62.5%;

    &__heading {
        display: flex;
        align-self: center;
        margin-bottom: 60px;
        font-size: 60px;
        font-weight: 300;
    }

    &__card-container {
        display: flex;
        justify-content: space-between;
    }
}