@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.banner {
    font-size: 62.5%;
    background-color: $background-blue;
    height: 55.2rem;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 8rem;

    &__text {
        height: 20rem;
        @include h2-text;
        color: $font-white;
        width: 70rem;
        padding-left:2.4rem;
    }

    &__top{
        display: flex;
        width: 92.4rem;
    }

    &__logo{
        background-image: url('../../assets/icons/fasttrackwhite.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center;
        height: 15rem;
        width: 14rem;
    }
    &__cta {
        margin-left: auto;
        height: 10rem;
        display: flex;
        padding-right: 52.5rem;
    }

    &__button {
        margin-right: 2.4rem;
        height: 5.4rem;
        width: 18.6rem;
        border-radius: 1rem;

        &--google{
            background-image: url('../../assets/googlePlayWhite.svg');
            background-repeat: no-repeat;
            background-size:cover;
        }

        &--apple{
            background-image: url('../../assets/appleStoreWhite.png');
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
        }
    }
}