@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.screenflow {
  height: 71rem;
  padding: 6rem 13rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .text {
    flex: 1;
    height: 45rem;
    display: flex;
    flex-direction: column;

    &__title {
      @include h2-text;
      margin-bottom: 4rem;
    }

    &__blurb {
      @include nav-text;
      width: 70%;
    }
  }

  .image {
    flex: 1;
    &__image {
      height: 55rem;
    }
  }
}
