
@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.hero {
    font-size: 62.5%;
    background-image: url('../../assets/background-heroimageUPDATE@2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 0 12rem;
    height: 68rem;

    &__card {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-left: 8.5%;
        margin-top: 13.5%;
    }

    &__heading{
        display:flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__logo{
        height:9.6rem;
        width: 9.8rem;
        margin-right: 2.4rem;
    }

    &__title{
        @include h2-text;
    }

    &__text{
        @include nav-text
    }

    &__cta {
        display: flex;
        height: 10rem;
    }

    &__button {
        margin-top:2.4rem;
        margin-right: 2.4rem;
        height: 5.4rem;
        width: 18.6rem;
        border-radius: 1rem;

        &--google{
            background-image: url('../../assets/googleplay.svg');
            background-repeat: no-repeat;
            background-size:cover;
        }

        &--apple{
            background-image: url('../../assets/appleDownload.svg');
            background-repeat: no-repeat;
            background-size:cover;
        }
    }
}