
@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.hero {
    font-size: 62.5%;
    background-image: url('../../assets/background-heroimage@2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 0 120px;
    height: 753px;

    &__card {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin-left: 10%;
        //temp
        margin-top: 10%;
    }

    &__heading{
        display:flex;
        align-items: center;
    }

    &__logo{
        height:96px;
        width: 98px;
        margin-right: 24px;
    }

    &__title{
        //h2 mixin
        font-size: 60px;
        font-weight:400;
    }

    &__text{
        //h5 mixin
        font-size: 24px;
    }
    &__cta {
        display: flex;
        height: 100px;
        //width: 80%;
    }
    &__button {
        margin-top:24px;
        margin-right: 24px;
        height: 54px;
        width: 186px;
        border-radius: 10px;

        &--google{
            background-image: url('../../assets/googleplay.svg');
            background-repeat: no-repeat;
            background-size:cover;
        }

        &--apple{
            background-image: url('../../assets/appleDownload.svg');
            background-repeat: no-repeat;
            background-size:cover;
        }
    }
    // &__img {
    //     border: 3px solid black;
    //     height: 300px;
    //     width: 40%;
    //     margin-left: 20%;
    //     //temp
    //     margin-top: 10%;
    // }
}