@use './variables' as *;

//BREAKPOINTS
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin features-card {
  box-shadow: 5px 8px 10px rgba(6, 7, 14, 0.5);
  border-radius: 3px;
}

//TEXT STYLES- TABLET & DESKTOP TEXT STYLES

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Light.woff2) format("woff2"),
    url(../assets/fonts/Roboto-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.woff2) format("woff2"),
    url(../assets/fonts/Roboto-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Medium.woff2) format("woff2"),
    url(../assets/fonts/Roboto-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

//TEXT STYLES- MOBILE TEXT STYLES

@mixin nav-text {
  font-size: 2.4rem;
  color: black;
  font-weight: 300;
  line-height: 3.2rem;
}

@mixin nav-button {
  outline: none;
  border: none;
  font-size: 1.4rem;
  color: black;
  font-weight: 500;
  height: 5.6rem;
  width: 14.4rem;
  border-radius: 0.4rem;
  box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

@mixin h2-text {
  font-size: 6rem;
  font-weight: 300;
  color: black;
}

//BUTTONS-- PADDING, HEIGHT, WIDTH, MARGINS ON ELEMENT DIRECTLY

//FORM FIELDS- HEIGHT, WIDTH, MARGINS ON ELEMENT DIRECTLY

//TAGS - HEIGHT ON ELEMENT DIRECTLY

// side padding for components

// set responsveness on main components
