//BREAKPOINTS
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//FONTS
$font-white: #FFFFFF;

//COLORS

$background-blue: #4285F4;
$white: #ffffff;
$blue: #4285f4;
$light-blue: #e1ebfd;
$dark-grey: #121212;

//additional colors
$yellow: #f4b400;
$green: #0f9d58;
$red: #db4437;

